/* Coolor link to style colors: https://coolors.co/ffffff-000000-37474f-01579b-a3dffb

The first color (pure white, #FFFFFF) is for the background, as well as text used over a picture.
The second color (pure black, #000000) is for the text.
The third color (a shade of grey, #37474F) is for the sidenav.
The fourth color (a royal blue, #01579B) is for accenting specific words/phrases.
The fifth color (a sky blue, #A3DFFB) is for the active class in the sidenav, as well as the footer, though I'm considering taking this color out and using only the royal blue for accents.*/

a {
    color: #01579B;
    text-decoration: none;
}

.appear {
    opacity: 0;
    transition: all 1s ease;
}

.appear:hover {
    opacity: 1;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.blogEntry {
    margin: 2.5% 10%;
}

/* At the moment, currently being unused, although will be nice to have in case I'd like to use it in the future.

.blur img {
    transition: all 1s ease;
}

.blur img:hover {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}*/

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.colorAccent {
    color: #01579B;
}

.constantHeight {
    height: 400px;
}

.constantWidth {
    width: 500px;
}

.container {
    margin: 0% 10%;
}

.footer { 
    position: fixed;     
    text-align: right;  
    bottom: 0px; 
    width: 99%;
    background-image: url(../images/footerInner.png) 500px 500px no-repeat;
}

/*The image class is used in the index page, specifically for having text over the image.*/
.image {
    position: relative;
}

.image h2 {
    position: absolute;
    top: 275px;
    width: 100%;
    color: #FFFFFF;
}

input {
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.overBackground {
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

/*The sidenav class is all for the side navbar and the elements inside it.*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #37474F; opacity: 0.95; filter: alpha(opacity=95);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white; opacity: 1.00; filter: alpha(opacity=100);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav a.active {
    color: #A3DFFB;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*I wanted a table that had a bit more horizontal spacing between elements for the Contact page, so I made the multiElement class.*/
table.multiElement {
    border-collapse: collapse;
    width: 100%;
}

table.multiElement td, table.multiElement th {
    text-align: center;
    padding: 8px;
}

/*These two are for the portfolio page, where some pictures are aligned to the left (#left), and some are aligned to the right (#right). These classes affect the text corresponding to the picture.*/
tr#left {
    text-align: right;
}

tr#right {
    text-align: left;
}